@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #193e72;
    --primary-color-dark: #010030;
    --light-color: #ececec;
}

body {
    background: var(--light-color);
    color: #333;
}

header {
    background: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: none;
    flex-direction: column;
    gap: 15px;
}

h2 {
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: var(--primary-color-dark);
}

.card {
    background: #f0f4ff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container-cadastro {
    display: flex;
}

#conta-ativa {
    background: #eef3ff;
    padding: 10px;
    border-radius: 8px;
}

#resposta-transacao {
    margin-top: 15px;
    font-weight: bold;
    color: rgba(5, 0, 73, 0.712);
    padding: 10px;
    
}


#cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#agencias-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notificacao {
    position: fixed;
    bottom: 30px;
    right: -200%;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    transition: right 0.4s ease;
}

.notificacao.show {
    right: 30px;
    transition: 0.4s ease;
}